@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/montserrat-v31-latin_latin-ext-300.woff2") format("woff2");
}

/* Montserrat Regular (400) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/montserrat-v31-latin_latin-ext-regular.woff2")
    format("woff2");
}

/* Montserrat Medium (500) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/montserrat-v31-latin_latin-ext-500.woff2") format("woff2");
}

/* Montserrat SemiBold (600) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/montserrat-v31-latin_latin-ext-600.woff2") format("woff2");
}

/* Montserrat Bold (700) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/montserrat-v31-latin_latin-ext-700.woff2") format("woff2");
}

/* Montserrat ExtraBold (800) */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/montserrat-v31-latin_latin-ext-800.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
